[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "LunarVim"]
	path = LunarVim
	url = https://github.com/LunarVim/LunarVim.git
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim.git
[submodule "cgdb"]
	path = cgdb
	url = https://github.com/cgdb/cgdb.git
